# --- Framework backendu ---
Flask==3.0.2
Flask-CORS==4.0.0
Flask-Migrate==4.0.4


# --- Baza danych ---
SQLAlchemy==2.0.25
Flask-SQLAlchemy==3.1.1

# --- Obsługa środowiska (np. .env) ---
python-dotenv==1.0.1

# --- Obsługa obrazów ---
Pillow

# --- Rozpoznawanie twarzy ---
deepface

#
# #--- OpenCV (kamera + kadry z wideo) ---
opencv-python-headless==4.9.0.80

# --- QR kody (generowanie i skanowanie) ---
qrcode==7.4.2


# --- Przydatne narzędzia ---
numpy
hashlib
qrcode



